@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --bg-primary: #111827;
    --bg-secondary: #1f2937;
  }
}


body,
.bg-primary {
  background-color: var(--bg-primary);
  color: aliceblue;
}

.bg-secondary {
  background-color: var(--bg-secondary);
  color: aliceblue;
}
.hover\:bg-secondary:hover {
  background-color: var(--bg-secondary);
}

.page-container {
  @apply pl-[100px] pt-[80px]
}

.page-area {
  height: calc(100vh - 80px);
  overflow: auto;
}

.page-container .page-area::-webkit-scrollbar,
.page-container .page-area::-moz-scrollbar {
  width: 12px;
}

.page-container .page-area::-webkit-scrollbar-track,
.page-container .page-area::-moz-scrollbar-track {
  background-color: #303c4e;
}

.page-container .page-area::-webkit-scrollbar-thumb,
.page-container .page-area::-moz-scrollbar-thumb {
  background-color: #4a576b;
  border-radius: 30px;
}

.page-area.flat {
  background-color: var(--bg-secondary);
}

.page-area.gradient-circular {
  background: radial-gradient(#1f2937, #111827, #111827, #111827);
}

.page-area.gradient-to-b,
.gradient-to-b {
  @apply bg-gradient-to-b from-[#1f2937] to-[#111827]
}

button:disabled {
  @apply opacity-60 cursor-not-allowed;
}

.btn-primary {
  @apply bg-indigo-500 text-white px-4 py-2 rounded-md hover:outline hover:outline-4 hover:outline-indigo-400/50 active:scale-95;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

#left-bar-icons a {
  @apply w-10 h-10 rounded-full hover:bg-gray-400/40 flex justify-center items-center
}

#left-bar-icons a img {
  @apply w-6 h-6
}

.footer {
  background-image: url('../assets/backgrounds/wave-bottom.png');
  @apply w-full md:min-h-[35vh] bg-no-repeat bg-top bg-cover text-white/80;
}

.up_ev_slide {
  @apply bg-gradient-to-bl from-teal-500 to-green-500
  px-4 py-2 rounded-xl
  flex justify-start items-center
  gap-2
  w-full md:w-auto
  min-h-[130px]
  cursor-pointer
  transition-all
  duration-100
  active:scale-95
}

.table_contaner {
  @apply w-full overflow-x-auto
}

table.data-table {
  @apply w-full border-collapse border border-gray-800 rounded-lg overflow-auto
}

table.data-table thead {
  @apply bg-gray-500
}

table.data-table thead tr th {
  @apply px-4 py-2 border border-gray-700
}

table.data-table tbody tr td {
  @apply px-4 py-2 border border-gray-500
}

table.data-table tbody tr.odd {
  @apply bg-gray-700
}

#toast-container {
  @apply fixed top-0 left-0 w-full h-screen pointer-events-none transition-all duration-300 ease-in
}

.toast {
  @apply w-52 h-10 rounded bg-white border-b-4 flex justify-start items-center px-3 my-3 gap-3
}


.toast.success {
  @apply border-green-800 text-green-950
}