<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/commonhead.ejs') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>CSE 19b</title>
</head>
<body>
  <%- include('../../partials/topbar.ejs') %>
  <%- include('../../partials/leftbar') %>
  <div class="page-container">
    <div class="page-area gradient-to-b rounded-tl-2xl">
      <div class="p-4 flex flex-col justify-start items-start gap-4">
        <div class="w-full">
          <div class="flex justify-start gap-4 items-center mb-6">
            <button class="text-2xl font-semibold" onclick="window.history.back()">
              <i class="fa-solid fa-arrow-left"></i>
            </button>
            <h1 class="text-2xl font-semibold">Manage Events</h1>
            <a href="/admin/events/create" class="bg-indigo-500 px-3 py-1.5 rounded-md outline outline-4 outline-indigo-500 hover:bg-transparent hover:text-indigo-200 transition-all duration-100 text-lg ml-auto">Create Event</a>
          </div>

          <div class="table_container">
            <table class="data-table">
              <thead>
                <tr>
                  <th>Event Title</th>
                  <th>Description</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>HJgsd</td>
                  <td>hjgsd</td>
                  <td>hjgsd</td>
                  <td>hjgsd</td>
                  <td>sdjvhb</td>
                </tr>

                <tr class="odd">
                  <td>HJgsd</td>
                  <td>hjgsd</td>
                  <td>hjgsd</td>
                  <td>hjgsd</td>
                  <td>sdjvhb</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>