<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/commonhead.ejs') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>CSE 19b</title>
</head>
<body>
  <%- include('../partials/topbar.ejs') %>
  <%- include('../partials/leftbar') %>
  <div class="page-container">
    <div class="page-area gradient-to-b rounded-tl-2xl">
      Admin panel / Notices
    </div>
  </div>
</body>
</html>