<section id="footer" class="footer">
  <div class="pt-10 px-6 md:pl-32">
    <h1 class="text-xl md:text-3xl font-semibold md:font-bold">CSE19B</h1>
    <ul class="mt-2 md:mt-4 flex flex-col justify-start items-start gap-1">
      <li class="md:text-xl">
        <a href="/">Home</a>
      </li>
      <li class="md:text-xl">
        <a href="/privacy-policy">Privacy Policy</a>
      </li>
      <li class="md:text-xl">
        <a href="/terms-and-conditions">Terms and Conditions</a>
      </li>
      <li class="md:text-xl">
        <a href="/about">About</a>
      </li>
      <li class="md:text-xl">
        <a href="/help">Help</a>
      </li>
    </ul>
  </div>
  
  <div class="w-full text-center py-1 mt-2 text-sm bg-gradient-to-r from-transparent via-white/20 to-transparent">
    Developed with ❤️ by <a href="https://dev-montasir.vercel.app" class="italic hover:underline">Montasir</a>
  </div>
</section>