<div class="flex flex-col justify-start items-center fixed top-0 left-0 bottom-0 overflow-auto bg-primary w-[100px]">
  <div class="my-10">Logo</div>
  <div id="left-bar-icons" class="mt-8 flex flex-col justify-start items-center gap-8">
    <a href="/" id="nav-link-home" data-title="Home" data-intro='Home page'>
      <img src="/assets/icons/home.svg" alt="Home" />
    </a>
    <a href="/resources" id="nav-link-resources" data-title="Home" data-intro='Home page'>
      <img src="/assets/icons/folder.svg" alt="Resources" />
    </a>
    <a href="/notification" id="nav-link-notifications" data-title="Home" data-intro='Home page'>
      <img src="/assets/icons/notification.svg" alt="Notifications" />
    </a>
    <a href="/favourites" id="nav-link-favourites" data-title="Home" data-intro='Home page'>
      <img src="/assets/icons/star.svg" alt="Favourites" />
    </a>
  </div>
  <div class="mt-auto py-10">
    <a href="/auth/logout" id="nav-link-logout" data-title="Home" data-intro='Home page'>
      <img src="/assets/icons/logout.svg" alt="Logout" class="w-6 h-6 hover:fill-indigo-500" />
    </a>
  </div>
</div>