<section>
  <div class="fixed top-6 left-4 md:left-6 right-4 md:right-6 h-20 rounded-3xl bg-slate-800 shadow-2xl flex justify-start items-center z-10">
    <a href="/" class="px-6">
      <img src="/images/cse19b.png" alt="cse19b" class="w-[100px]">
    </a>
    <div class="ml-auto flex justify-start items-center gap-4 mr-6">
      <a class="bg-indigo-500 text-white/90 hover:text-white px-3 py-1.5 rounded-md" href="/auth/login">Sign In</a>
    </div>
  </div>
</section>