<div id="_topbar" class="flex fixed justify-start items-center top-0 left-[100px] overflow-auto bg-primary h-[80px] right-0">
  <div>
    <button>
      <img src="/assets/icons/menu.svg" alt="Menu" class="w-8 h-8">
    </button>
  </div>
  <div class="ml-auto flex justify-center items-center gap-5 pr-10">
    <a href="/user/profile" class="w-10 h-10 rounded-full">
      <img src="/" alt="User">
    </a>
  </div>
</div>