<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/commonhead.ejs') %>
  <title>CSE 19b</title>
</head>
<body>
  <%- include('../partials/topbar.ejs') %>
  <%- include('../partials/leftbar') %>
  <div class="page-container">
    <div class="page-area gradient-to-b">
      <div class="p-4">
        <h1>Upcoming Events</h1>
        <div>
          Here are the upcoming events
        </div>

        <h1>Class Routines</h1>
        <div>
          Here are the class routines
        </div>
      </div>
    </div>
  </div>
</body>
</html>